* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.hide {
    display: none !important; 
}

#tittle-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    background-color: rgb(0, 200, 255);
    color: white;
    font-size: 28px;
    box-shadow: 0px 0px 64px 26px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 64px 26px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 64px 26px rgba(0,0,0,0.75) inset;
}

#info-conteiner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#info-box {
    box-shadow: 0px 0px 5px 3px rgba(170,170,176,0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(170,170,176,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(170,170,176,0.75);
    height: auto;
    min-height: 350px;
    width: 70%;
    border-radius: 10px;
    padding: 25px;
}

#bnt-cadastrar {
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    border: 2px solid rgb(0, 70, 90);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(0, 70, 90);
    font-size: 16px;
    cursor: pointer;
}

#bnt-cadastrar:hover {
    transition: .3s;
    background-color: rgb(0, 70, 90);
    color: white;
}

.span-fixed {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    color: white;
    width: 30px;
    background-color: rgb(0, 200, 255);
    box-shadow: 0px 0px 26px 6px rgba(8,8,8,0.75) inset;
    -webkit-box-shadow: 0px 0px 26px 6px rgba(8,8,8,0.75) inset;
    -moz-box-shadow: 0px 0px 26px 6px rgba(8,8,8,0.75) inset;
    border-radius: 2px;
    margin-bottom: 10px;
}

#fixed-name {
    width: 24%;
}

#fixed-email {
    width: 24%;
}

#fixed-cell {
    width: 20%;
}

#fixed-city {
    width: 20%;
}

#fixed-action {
    width: 10%;
}

.paragraf {
    display: flex;
    align-items: center;
    height: 28px;
    border: 2px solid black;
    margin-bottom: 5px;
}

.span {
    display: inline-block;
    font-size: 14px;
    padding: 2px;
    color: black;
    width: 30px;
    border-left: 1px solid black;
}

.add-name {
    border: none;
    width: 24%;
}

.add-email {
    width: 25%;
}

.add-cell {
    width: 20%;
}

.add-city {
    width: 21%;
    border-right: 1px solid black;
}

.bnt-edit {
    margin-left: 12px;
    padding: 1px;
    width: 30px;
    background-color: rgb(0, 180, 0);
    border: none;
    color: white;
    border-radius: 2px;
    border: 1px solid rgb(0, 180, 0);
    cursor: pointer;
}

.bnt-edit:hover {
    transition: .3s;
    background-color: white;
    color: green;
}

.bnt-remove {
    margin-left: 5px;
    padding: 1px;
    width: 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 2px;
    border: 1px solid red;
    cursor: pointer;
}

.bnt-remove:hover {
    transition: .3s;
    background-color: white;
    color: red;
}

#cadastro-conteiner {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 200px;
    width: 400px;
    box-shadow: 0px 0px 5px 3px rgba(170,170,176,0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(170,170,176,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(170,170,176,0.75);
    padding: 30px;
}

#cadastro-conteiner input {
    padding: 3px;
    margin: 5px;
    outline: none;
    border: 2px solid rgb(0, 70, 90);
}

#bnt-confirmar {
    margin-top: 10px;
    margin-left: 7px;
    padding: 2px;
    background-color: transparent;
    border: 2px solid rgb(0, 180, 0);
    font-weight: bold;
    color: rgb(0, 180, 0);
    border-radius: 5px;
    cursor: pointer;
}

#bnt-confirmar:hover {
    transition: .3s;
    background-color: rgb(0, 180, 0);
    color: white;
}

#bnt-cancel {
    margin-top: 10px;
    margin-left: 7px;
    padding: 2px;
    background-color: transparent;
    border: 2px solid red;
    font-weight: bold;
    color: red;
    border-radius: 5px;
    cursor: pointer;   
}

#bnt-cancel:hover {
    transition: .3s;
    background-color: red;
    color: white;
}

